<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Us - DynamicSite</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<style>
    {{>css}}
</style>
<body class="dark-theme">
    <!-- Navbar -->
    {{>header}}
        <section id="about">
        <h2>About Us</h2>
        <p>We create stunning websites with a focus on user experience.</p>
    </section>
    <!-- Footer -->
    {{>footer}}

    <script src="js/script.js"></script>
</body>
</html>
