<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Services - DynamicSite</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<style>
    {{>css}}
</style>
<body class="dark-theme">
    <!-- Navbar -->
    {{>header}}

    <!-- Services Section -->
    <section id="services">
        <h2>Our Services</h2>
        <ul>
            <li>Web Development</li>
            <li>Responsive Design</li>
            <li>SEO Optimization</li>
        </ul>
    </section>

    <!-- Footer -->
    {{>footer}}

    <script src="js/script.js"></script>
</body>
</html>
