<header>
        <nav>
            <div class="logo">My Dark Website</div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/service">Services</a></li>
                <li><a href="/contacts">Contact</a></li>
            </ul>
        </nav>
</header>